#rightside
  position: fixed
  right: -38px
  bottom: $rightside-bottom
  z-index: 100
  opacity: 0
  transition: all .5s

  #rightside-config-hide
    transition: transform .4s
    transform: translate(45px, 0)

    &.show
      transform: translate(0, 0) !important

  & > div
    & > button,
    & > a
      display: block
      margin-bottom: 2px
      width: 40px
      height: 40px
      background-color: var(--sidetool-bg)
      color: var(--sidetool-color)
      text-align: center
      font-size: 20px

      &:hover
        background-color: var(--sidetool-hover-color)

  #mobile-toc-button
    display: none

    +maxWidth900()
      display: block

  +maxWidth900()
    #hide-aside-btn
      display: none
